svg {
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 5px black;
}

.node {
	cursor: move;
}

.node circle {
	stroke: black;
	stroke-width: 1px;
}

.node circle.pinned {
	stroke-width: 2px;
}

.node text {
	pointer-events: none;
	font: 10px sans-serif;
}

.link {
	stroke: black;
	stroke-width: 2;
}

.redrom {
	stroke: red;
	fill: transparent;
}

.palerom {
	stroke: pink;
	fill: transparent;
}

.blackrom {
	stroke: black;
	fill: transparent;
}

.ashrom {
	stroke: grey;
	fill: transparent;
}

.vacillating {
	fill: transparent;
	animation: vacillating 1s ease infinite;
}

@keyframes vacillating {
	0% {
		stroke: red;
	}
	50% {
		stroke: black;
	}
	100% {
		stroke: red;
	}
}

.proxy {
	stroke: transparent;
}

.system {
	stroke: black;
	fill: transparent;
}

.subsystem {
	fill: #fff8;
}

.generic {
	fill: transparent;
}

.group text {
	fill: black;
	stroke: none;
	font-family: serif;
}